include parts/head.pug
body
	include parts/header.pug
	section.content
		.wrapper
			.response
				.title Спасибо, ваша заявка принята
				.info
					.info__text Мы пришлём вам предлжение на&nbsp;номер 
						| +7 963 770 20 47 и&nbsp;на&nbsp;почту sima@chetverukhin.ru.
