.header {
	box-shadow: 0 1px 0 @border-color;

	.wrapper {
		align-items: center;
		justify-content: space-between;
		height: 66px;
	}

	&__title {
		margin-bottom: 4px;
		font-size: @font-size-xl;
		line-height: @line-height-normal;
		color: @grey-color;

		@media @mobile {
			font-size: 20px;
		}
	}

	&__logo {
		cursor: pointer;
		filter: saturate(0);
		opacity: .25;
		transition: filter .2s ease-in-out, opacity .2s ease-in-out;

		&:hover {
			filter: saturate(1);
			opacity: 1;
		}
	}
}

.logo {
	&__image {
		display: block;
		max-width: 145px;

		@media @mobile {
			max-width: 85px;
		}
	}
}
